body{
    background-image: url("../Images/backgroundImage.jpg");
    background-size: 100%;
    align-content: center;
}

header{
    text-align: center;
    font-size: xxx-large;
    background-color: darkslategray;
    color: white;
}
#h2 {
    font-weight: bold; font-size: x-large;
    border: solid; border-color: darkslateblue;
    height: max-content; width: max-content;
    background-color: whitesmoke; color: black;
}
.Op{
    height: max-content; width: max-content;
    background-color: whitesmoke; color: black;
    font-weight: bold; font-size: large;
    text-align: center; float: center;
    border: darkslateblue; border: solid;
    
}
main{
    height: max-content; width: max-content;
    margin-left: auto; margin-right: auto;
    margin-top: 45px;
    background-image: url("../Images/tropical-beach.jpg");
    background-size: cover; background-position: bottom;
}